coverage==7.6.1
    # via
    #   pyturso (pyproject.toml)
    #   pytest-cov
iniconfig==2.0.0
    # via pytest
maturin==1.7.8
    # via pyturso (pyproject.toml)
mypy==1.11.0
    # via pyturso (pyproject.toml)
mypy-extensions==1.0.0
    # via mypy
packaging==24.2
    # via pytest
pluggy==1.5.0
    # via pytest
pytest==8.3.1
    # via
    #   pyturso (pyproject.toml)
    #   pytest-cov
pytest-cov==5.0.0
    # via pyturso (pyproject.toml)
ruff==0.5.4
    # via pyturso (pyproject.toml)
typing-extensions==4.12.2
    # via
    #   mypy
    #   pyturso (pyproject.toml)
